[user]
    name = hrls
    email = viktor.kharitonovich@gmail.com
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[alias]
    s   = status
    l   = log --decorate=short --oneline
    ll  = log --decorate=short
    lg  = log --pretty=format:'%h - %an, %ar : %s' --graph
    cd  = checkout
    b   = branch
    bl  = branch --verbose
    bd  = branch --delete
    sl  = stash list
    ss  = stash show
    rl  = remote --verbose
    sub = submodule

    df      = diff
    dt      = difftool
    vdf     = !git diff | mvim -
    dft     = difftool
    vdft    = difftool -t mvimdiff

[push]
    default = matching


[diff]
    tool = mvimdiff
[difftool "mvimdiff"]
    # todo: open in tabs
    cmd = mvim -f -d  \"$LOCAL\" \"$REMOTE\"
[difftool "opendiff"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[difftool "pargs"]
    cmd = pargs \"$LOCAL\" \"$REMOTE\"
    
[merge]
	tool = mvimdiff
[mergetool]
    prompt = false
[mergetool "mvimdiff"]
    cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
