[user]
	name = hrls
	email = viktor.kharitonovich@gmail.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[alias]
    f   = fetch --tags
    p   = pull --ff-only
	b   = branch
    br  = branch --remote
	c   = commit
	co  = checkout
	bc  = checkout -b
	df  = diff
    dfs = diff --staged
    r   = rebase --interactive
	rc  = rebase --continue
    rom = rebase --interactive origin/master
	s   = status --show-stash
	sl  = stash list
	ss  = stash show

	sub = submodule
	url = remote get-url --all origin
	append = commit --amend --no-edit

	l   = log --decorate=short --oneline
	ll  = log --decorate=short
	lg  = log --pretty=format:'%h - %an, %ar : %s' --graph

[push]
	default = current

[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
