tags
*.patch

# python
*.pyc
__pycache__

# compiled
*.class
*.o
*.so

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# logs and db
*.log
*.sqlite

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# IntelliJ IDEA
.idea
*.iml

# vim
*.swp
